.call-to-action.text-center.clearfix
  = image_tag asset_path('logo.png'), class: 'homepage-logo'
  h1 Old Pluto
  = link_to 'Start Searching', links_path, class: 'btn btn-primary'

markdown:
  ## <a name="what"></a>What is Old Pluto?

  Old Pluto started as a pet project that I created for fun. I'm a software
  developer and a news junkie, so originally, I wanted to build a simple RSS
  aggregator for helping me find interesting news. As I used the website, I
  kept adding features anytime I needed something, and eventually with
  change after change, Old Pluto evolved into something more.

  Now, I like to think of Old Pluto more as a news search engine. Rather
  than offering you recommendations of what to read like other websites,
  **Old Pluto aims to give you tools to find what you think is important for
  yourself.** My hope is that by keeping control in the hands of the users,
  Old Pluto can avoid some of the pitfalls that many other news services on
  the web have fallen into.

  Specifically, I believe most news services today have bad habits of
  [insulating you from reality within a bubble][0], [censoring unpopular
  opinions][1], and [serving you paid propaganda disguised as the truth][2].
  If possible, I want to keep these sorts of deceptive and damaging patterns
  out of Old Pluto.

  [0]: https://motherboard.vice.com/read/facebooks-filter-bubble
  [1]: https://www.cjr.org/analysis/censorship_in_the_social_media_age.php
  [2]: https://www.thenation.com/article/selling-out-sponsored-content/

  ## <a name="why"></a>Why Use Old Pluto?

  All news aggregation services today have a fundamental problem: [there's
  too much news][3]. In the age of the internet, nearly all of the world's
  news is available to almost all of the world all of the time. Like a
  needle in a haystack, [knowledge becomes subsumed in a sea of
  information][4]. To solve this problem, information needs to be filtered,
  and each service has its own method for 'filtering' the news you see.

  [3]: https://en.wikipedia.org/wiki/Information_overload
  [4]: https://adactio.com/articles/10887#aisforarchive

  Old Pluto is different from these other services in that it doesn't filter
  anything at all. Rather, Old Pluto gives you a raw feed of news from over
  one hundred sources and offers you tools to filter that feed down as you
  see fit. All information filtering is in *your* hands, not advertisers,
  not moderators, not AI and not the mob. **You decide what information is
  important.**

  ## <a name="name"></a>What About the Name?

  I came up with "Old Pluto" by using a random project name generator and
  checking it's output against available domain names. The name has no real
  meaning, but I'm open to any interpretations anyone finds in it.


  ## <a name="start"></a>How Do I Use It?

  To start, [click here](#{links_path}) to view the latest news. Next, click
  on a source, author or tag to filter the results. You can limit results to
  the past week, day or hour using the time dropdown at the top, and you can
  sort by newest, popularity (most clicks), rising (clicks per hour) or trending
  (frequency of commonly clicked terms in the article) using the sort dropdown
  also at the top. Most importantly, if you already know what you're looking
  for, you can use the search box in the header to perform a full text search
  across all articles.

  The real power of Old Pluto becomes apparent when you search for something
  controversial and compare results from different sources. For example,
  here's everything from [ZeroHedge regarding President
  Trump](#{links_path(sources: ['zero-hedge'], q: 'Trump')}) and [here's everything
  from Breitbart on the
  same](#{links_path(sources: ['breitbart'], q: 'Trump')}).
