.call-to-action.text-center.clearfix
  = image_tag asset_path('logo.png'), class: 'homepage-logo'
  h1 Old Pluto
  = link_to 'Start Searching', links_path, class: 'btn btn-primary'

.col-md-6.col-md-offset-3
  markdown:
    ## <a name="what"></a>What is Old Pluto?

    Old Pluto started as a pet project that I created for fun. I'm a software
    developer and a news junkie, so originally, I wanted to build a simple RSS
    aggregator for helping me find interesting news. As I used the website, I
    kept adding features anytime I needed something, and eventually with change
    after change, Old Pluto evolved into something more.

    Now, I like to think of Old Pluto more as a news search engine. Rather than
    offering you recommendations of what to read like other websites, **Old
    Pluto aims to give you tools to find what you think is important for
    yourself.** My hope is that by keeping control in the hands of the users,
    Old Pluto can avoid some of the pitfalls that many other news services on
    the web have fallen into.

    Specifically, I believe most news services today have bad habits of
    [insulating you from reality within a bubble][0], [censoring unpopular
    opinions][1], and [serving you paid propaganda disguised as the truth][2].
    If possible, I want to keep these sorts of deceptive and damaging patterns
    out of Old Pluto.

    [0]: https://motherboard.vice.com/read/facebooks-filter-bubble
    [1]: https://www.cjr.org/analysis/censorship_in_the_social_media_age.php
    [2]: https://www.thenation.com/article/selling-out-sponsored-content/

    ## <a name="why"></a>Why Use Old Pluto?

    All news aggregation services today have a fundamental problem: [there's too
    much news][3]. In the age of the internet, nearly all of the world's news is
    available to almost all of the world all of the time. Like a needle in a
    haystack, [knowledge becomes subsumed in a sea of information][4]. To solve
    this problem, information needs to be filtered, and each service has its own
    method for 'filtering' the news you see.

    [3]: https://en.wikipedia.org/wiki/Information_overload
    [4]: https://adactio.com/articles/10887#aisforarchive

    Facebook relies on secret, proprietary algorithms that more often than not
    boil down to [paid promotion][5] and [human judgement][6]. Twitter uses
    followings and hashtags, but these methods often [reinforces personal
    bias][7] and are also vulnerable to [corruption through advertising][8].
    Reddit and sites like it try to use democracy in the form of up and down
    votes to hold back the forces of money from influencing their conversations,
    but these systems still suffer from the [bias through groupthink][9] and
    despite their efforts to stave it off, corruption often still finds a way in
    through [hierarchies of admins and moderators][10].

    [5]: https://www.youtube.com/watch?v=l9ZqXlHl65g
    [6]: https://www.nytimes.com/2016/05/12/technology/facebooks-bias-is-built-in-and-bears-watching.html
    [7]: https://www.theguardian.com/technology/2012/aug/22/twitter-online-echo-chanber-leftwing
    [8]: https://medium.com/factor-daily/infibeam-ipo-why-twitter-s-dirty-secret-paid-tweets-is-not-funny-anymore-5d7d5af92d71
    [9]: https://www.wolfsheadonline.com/deconstructing-the-groupthink-of-the-reddit-echo-chamber/
    [10]: https://www.reddit.com/r/subredditcancer/

    Old Pluto is different from these other services in that it doesn't filter
    anything at all. Rather, Old Pluto gives you a raw feed of news from over
    one hundred sources and offers you tools to filter that feed down as you see
    fit. All information filtering is in *your* hands, not advertisers, not
    moderators, not algorithms, not AI and not the mob. **You decide what
    information is important.**

    ## <a name="name"></a>What About the Name?

    I came up with "Old Pluto" by using a random project name generator and
    checking it's output against available domain names. The name has no real
    meaning, but I'm open to any interpretations anyone finds in it.

    ## <a name="warnings"></a>Warnings

    In the interest of being open and transparent with all users, I want to
    share a few warnings regarding the state of and future plans for Old Pluto:

    ### <a name="wip"></a>Old Pluto is a Work in Progress

    This project is still very much a work in progress. As I experiment with it,
    some features may change or disappear completely. While I'm always open to
    feedback, understand that I reserve the right to do anything I want with my
    own code. If you disagree with any decisions I make in the development of
    this project, you're free to fork my repository on github and host your own
    version of Old Pluto. Please, do not expect any feature to remain the same
    forever.

    ### <a name="money"></a>Old Pluto May Cost Money

    For now, Old Pluto is free for all to use, but this website runs on servers
    and those servers cost money, so eventually, I may need to monetize this
    project to keep it going. While I do promise that some form of this site
    will always be free, some features may require payment in the future.
    Please, do not expect any feature to be free forever.

    ### <a name="content"></a>Old Pluto Is Not Curated

    So far, all of Old Pluto's features, including tagging and link aggregation,
    are automated. There are no human checks on these actions, and while I
    encourage users to contact me about any problems with the website, there is
    no reporting or flagging feature. Old Pluto may include or link to content
    that is objectionable or obscene. Any opinions expressed in this content are
    not necessarily my opinion or the opinion of anyone else who contributes to
    this project.
