h1 Old Pluto

markdown:
  ## <a name="what"></a>What is Old Pluto?

  Old Pluto is a news search engine. It is a tool for finding online news that
  you want to read. It is not a social network, forum or media company. It will
  not [insulate you from reality within a bubble of your own opinions][0]. It
  will not [censor opinions just because they are unpopular][1]. It will not
  [serve you paid opinions disguised as the truth][2]. Old Pluto, like all good
  tools, does only what you ask it to do, so it is what you make of it.

  [0]: https://motherboard.vice.com/read/facebooks-filter-bubble
  [1]: https://www.cjr.org/analysis/censorship_in_the_social_media_age.php
  [2]: https://www.thenation.com/article/selling-out-sponsored-content/

  ## <a name="philosophy"></a>Philosophy

  > “There is only one good, knowledge, and one evil, ignorance.” - Socrates

  All news aggregation services have a fundamental problem: [there's too much
  news][3]. In the age of the internet, nearly all of the world's news is
  available to nearly all of the world nearly all of the time. Like a needle in
  a haystack, [knowledge becomes subsumed in a sea of information][4]. To solve
  this problem, information needs to be filtered, and each news source has its
  own method for 'filtering' the news.

  [3]: https://en.wikipedia.org/wiki/Information_overload
  [4]: https://adactio.com/articles/10887#aisforarchive

  Facebook relies on secret, proprietary algorithms that more often than not
  boil down to [paid promotion][5] and [human judgement][6]. Twitter uses
  followings and hashtags, but these methods often [reinforces personal bias][7]
  and, like Facebook, are also vulnerable to [corruption through
  advertising][8]. Reddit and many forums use democracy in the form of up and
  down votes to hold back the forces of money from influencing their
  conversations, but they still suffer from the [bias of groupthink][9] and
  despite their efforts to stave it off, corruption still finds a way in through
  [hierarchies of admins and moderators][10].

  [5]: https://www.youtube.com/watch?v=l9ZqXlHl65g
  [6]: https://www.nytimes.com/2016/05/12/technology/facebooks-bias-is-built-in-and-bears-watching.html
  [7]: https://www.theguardian.com/technology/2012/aug/22/twitter-online-echo-chanber-leftwing
  [8]: https://medium.com/factor-daily/infibeam-ipo-why-twitter-s-dirty-secret-paid-tweets-is-not-funny-anymore-5d7d5af92d71
  [9]: https://www.wolfsheadonline.com/deconstructing-the-groupthink-of-the-reddit-echo-chamber/
  [10]: https://www.reddit.com/r/subredditcancer/

  Old Pluto differs from all these other sites in that doesn't filter anything
  at all. Rather, Old Pluto gives you the tools to filter the news for yourself.
  Presently, you can filter by tags, sources and publication time, but I plan
  add to add text searching, filtering by author, and eventually, filtering by
  political leaning and article tone. All information filtering is in *your*
  hands, not advertisers, not moderators, not algorithms, not AI and not the
  mob. **You decide what information is important.**

  ## <a name="warnings"></a>Warnings

  In the interest of being open and transparent with all users, I want to share
  a few warnings regarding the state of and future plans for Old Pluto:

  ### <a name="wip"></a>Old Pluto is a Work in Progress

  This project is still very much a work in progress. As I experiment with it,
  some features may change or disappear completely. While I'm always open to
  feedback, understand that I reserve the right to do anything I want with my
  own code. If you disagree with any decisions I make in the development of this
  project, you're free to fork my repository on github and host your own version
  of Old Pluto. Please, do not expect any feature to remain the same forever.

  ### <a name="money"></a>Old Pluto May Cost Money

  For now, Old Pluto is free for all to use, but this website runs on servers
  and those servers cost money, so eventually, I may need to monetize this
  project to keep it going. While I do promise that some form of this site will
  always be free, some features may require payment in the future. Please, do
  not expect any feature to be free forever.

  ### <a name="content"></a>Old Pluto Is Not Curated

  So far, all of Old Pluto's features, including tagging and link aggregation,
  are automated. There are no human checks on these actions, and while I
  encourage users to contact me about any problems with the website, there is no
  reporting or flagging feature. Old Pluto may include or link to content that
  is objectionable or obscene. Any opinions expressed in this content are not
  necessarily my opinion or the opinion of anyone else who contributes to this
  project. Please, do not blame me for my creation's mistakes.
