/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Arvo';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-family-serif:      'Arvo', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $font-family-serif;
$headings-font-weight:   normal;

$brand-primary: #ADABAB;
$text-color: #07020D;

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #FDFDFD;
}

.share-options {
  vertical-align: baseline;
}

.links {
  color: $brand-primary;
}

.link {
  font-size: 1.2em;
  color: $text-color;
}

.details {
  margin: 0 0 1em 0;
  font-size: 0.8em;
}

.options {
  margin: 0 0 1em 0;
}

.remove-filter {
  margin: 0 1em 0 0;
}
