/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'https://fonts.googleapis.com/css?family=Arvo';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-family-serif:      'Arvo', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $font-family-serif;
$headings-font-weight:   normal;

$brand-primary: #ADABAB;
$text-color: #07020D;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 720px;

$container-tablet:        480px;
$container-desktop:       640px;
$container-large-desktop: 720px;

$grid-float-breakpoint: 640px;

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #FDFDFD;
}

.navbar-brand {
  font-family: $font-family-serif;
}

.share-options {
  vertical-align: baseline;
}

.links, .advertisements, .favorites {
  padding: 0 0 20px 20px;
  border-bottom: 1px solid #EEEEEE;
  color: $brand-primary;

  @media screen and (min-width: $screen-sm) {
    padding: 0 0 20px 40px;
  }
}

.link, .advertisement {
  font-size: 1.4em;
  color: $text-color;

  @media screen and (min-width: $screen-sm) {
    font-size: 1.2em;
  }
}

.details {
  margin: 0 0 1em 0;
  font-size: 1em;

  @media screen and (min-width: $screen-sm) {
    font-size: 0.8em;
  }
}

.options {
  margin:  0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EEEEEE;
}

.homepage-logo {
  max-width: 512px;
  width: 100%;
  opacity: 0.1;
}

.call-to-action {
  position: relative;
  max-width: 512px;
  width: 100%;
  margin: auto;
}

.call-to-action h1 {
  position: absolute;
  width: 100%;
  bottom: 45%;
}

.call-to-action .btn {
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 124px;
  margin-left: -62px;
}

footer .navbar {
  margin-top: 20px;
  margin-bottom: 0;
}

.no-results {
  padding: 2em;
  font-family: $font-family-serif;
  font-size: 2em;
  text-align: center;
}
